@font-face {
  font-family: 'Raleway';
  src:  url('~@/assets/fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src:  url('~@/assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('~@/assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:  url('~@/assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src:  url('~@/assets/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: $colorWhite;
  background: $colorDark;
  overflow: hidden;
}
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $colorDark;
}
.fp-controlArrow {
  &.fp-prev {
    height: 30px;
    width: 30px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    left: 35px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.fp-next {
    height: 30px;
    width: 30px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    right: 35px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
